/* GAME COLOR PALLETES */
:root {
  /* PRIMARY */
  --midnight-blue: #0d1b2a;
  --blood-red: #d72638;

  /* SECONDARY */
  --steel-gray: #4b4e6d;
  --shuriken-silver: #b0bec5;

  /* OTHERS */
  --ninja-black: #1c1c1c;
  --shadow-purple: #5e548e;
  --torch-orange: #ffa500;
}
